# --- Servidor ---
PORT=3000
NODE_ENV=development

# --- Base de Datos (Postgres) ---
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# --- JWT ---
JWT_SECRET="ChangeMe"
JWT_REFRESH_SECRET="ChangeMe"
